html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem;
}

.toast.progress::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
  width: calc(100% * var(--progress, 1));
  background-color: red;
}

.toast {
  box-sizing: border-box;
  position: relative;
  padding: 1.2rem;
  border: 1px black solid;
  border-radius: 0.5rem;
  width: 25rem;
  cursor: pointer;
  transition: transform 300ms ease-out;
  overflow: hidden;
}

.toast.can-close::after {
  content: '\00D7';
  position: absolute;
  top: 0.4rem;
  right: 0.8rem;
  cursor: pointer;
}

.toast-container[data-position$='left'] .toast {
  transform: translateX(-120%);
}
.toast-container[data-position$='right'] .toast {
  transform: translateX(120%);
}
.toast-container[data-position='top-center'] .toast {
  transform: translateY(-100vh);
}
.toast-container[data-position='bottom-center'] .toast {
  transform: translateY(100vh);
}
.toast-container .toast.show {
  transform: translate(0, 0);
}

.toast-container[data-position^='top'] {
  top: 0;
}
.toast-container[data-position^='bottom'] {
  bottom: 0;
}
.toast-container[data-position$='left'] {
  left: 0;
}
.toast-container[data-position$='right'] {
  right: 0;
}
.toast-container[data-position$='center'] {
  left: 50%;
  transform: translateX(-50%);
}
